@import "../../main.scss";

.topbar {
  height: 70px;
  width: 100%;
  background-color: #fff;
  color: $textColor;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 10px 30px;
  transition: all 1s ease;

  .wrapper {
    display: flex;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      flex: 0.5;

      .logo {
        margin: 0 30px;

        img {
          width: 80px;
          // height: 30px;
          object-fit: cover;
        }
      }
      .itemContainer {
        @include mobile {
          display: none;
        }
        display: flex;
        align-items: center;
        margin-left: 25px;
        .icon {
          margin-right: 5px;
        }
        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .right {
      flex: 0.5;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hireMe {
        margin-left: 20px;
        padding: 10px 15px;
        color: $textColor;
        background-color: #fff;
        border: 2px solid $mainColor;
        cursor: pointer;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.5s ease;
        text-decoration: none;
        &:hover {
          background-color: $mainColor;
          color: #fff;
          // border-color: #fff;
        }
      }

      .hamburger {
        width: 32px;
        height: 24px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        span {
          width: 100%;
          height: 3px;
          background-color: $textColor;
          transform-origin: left;
          transition: all 1s ease;
        }
      }
    }
  }
  &.active {
    // background-color: $mainColor;
    // color: #fff;
    .right {
      .hamburger {
        span {
          // background-color: #fff;

          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
