@import "../../main.scss";

.portfolioFeature {
  width: 100px;
  height: 30px;
  font-weight: 500;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: capitalize;
  &.active {
    background-color: $mainColor;
    color: #fff;
  }
  &:hover {
    font-weight: inherit;
    font-size: inherit;
  }
}
