@import "../../main.scss";

.testimonials {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;

  h1 {
    font-size: 35px;
    color: $mainColor;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 90%;

    .card {
      width: 240px;
      height: 320px;
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 30px;
      border: 1px solid #ccc;
      border-radius: 15px;
      transition: all 0.3s ease;

      .top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .leftImg,
        .centerImg,
        .rightImg {
          width: 30px;
          height: 30px;
        }
        .centerImg {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .center {
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
      }
      .bottom {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .name {
          font-weight: 300;
          font-size: 19px;
        }
        .job {
          font-weight: 600;
          font-size: 13px;
        }
      }
      &.featured {
        width: 275px;
        height: 375px;
      }
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
